# User Specific Configuration for EV Load Balancer
#
# This file contains the user-specific configuration for the EV Load Balancer package.
# It works in conjunction with ev_loadbalancer.yaml which contains the core logic.
#
# Update the following configuration to match your setup. All settings are stored
# in attributes to simulate devices. Check the documentation for more details.
#
# Set car_aware to true to enable car-aware power management
# Set pv_prioritized to true to enable PV-aware power management
sensor:
  - platform: filter
    unique_id: pv_power_lp
    name: "PV Power LP"
    entity_id: sensor.solaredge_i1_dc_power
    filters:
      - filter: outlier
        window_size: 3
        radius: 1000.0
      - filter: lowpass
        time_constant: 5
        precision: 0

  - platform: filter
    unique_id: netto_verbruik_filter
    name: "Netto verbruik filter"
    entity_id: sensor.netto_verbruik_actual
    filters:
      - filter: time_simple_moving_average
        window_size: "00:03"
        precision: 2
      # - filter: outlier
      #   window_size: 4
      #   radius: 500.0
      # - filter: lowpass
      #   time_constant: 12
      #   precision: 2

template:
  - sensor:
    - unique_id: netto_verbruik_actual
      name: "Netto verbruik actual"
      state: "{{ -(states('sensor.slimme_meter_totaal')|float*1000) }}" 
      icon: mdi:home-lightning-bolt
      device_class: power
      unit_of_measurement: "W"

  - sensor:
      # Household settings
      - unique_id: ev_load_balancer_house
        name: "EV Load Balancer House"
        # household power = grid power - (PV power - EV charging power)
        state: "{{ states('sensor.netto_verbruik_filter')| float - state_attr('sensor.ev_load_balancer_charger','active_power') | float}}"
        icon: mdi:home-lightning-bolt
        device_class: power
        unit_of_measurement: "W"
        attributes:
          actual_power: "{{  states('sensor.netto_verbruik_actual')| float -  state_attr('sensor.ev_load_balancer_charger','active_power') | float }}"
          pv_power: "{{ states('sensor.pv_power_lp') }}"

      # Charger settings
      - unique_id: ev_load_balancer_charger
        name: "EV Load Balancer Charger"
        state: "Alfen Eve Pro Single"
        icon: mdi:ev-station
        attributes:
          # note the definition of the output variables
          active_power: "{{ states('sensor.wallbox_active_power_total_socket_1') }}"
          current_input: "{{ states('sensor.wallbox_main_station_active_max_current_socket_1') }}"
          current_output: number.wallbox_power_connector_max_current_socket_1
          phases_input: "{{ states('sensor.wallbox_connector_1_max_allowed_of_phases') }}"
          phases_output: select.wallbox_installation_max_allowed_phases
          # max_phases: "{{ 3 | int }}" for future development
          default_phases: "{{ 3 | int }}"
          max_current: "{{ 16 | int }}"
          min_current_3_phases: "{{ 5 | int }}"
          min_current: "{{ 2 | int }}"
          default_current: "{{ 6 | int }}"
          nominal_voltage: "{{ 230 | int }}"
          phase_1_state: 1 Phase
          phase_3_state: 3 Phases
          connection_state: >
            {% set m3 = states('sensor.wallbox_mode3_state_socket_1') %}
            {% if m3 in ['STATE_A', 'STATE_E'] %} Disconnected
            {% elif m3 in ['STATE_B1', 'STATE_B2', 'STATE_C1', 'STATE_D1', 'STATE_C2', 'STATE_D2'] %} Connected
            {% elif m3 in ['STATE_F'] %} Error
            # {% else %} unavailable
            {% endif %}

      # Cars settings
      - unique_id: ev_load_balancer_car
        name: "EV Load Balancer Car"
        state: "Tesla Model Y"
        icon: mdi:car-electric
        # Required parameters
        attributes:
          max_current: "{{ 16 | int }}"
          min_current: "{{ 2 | int }}"
          actual_current: number.tesla_ble_charging_amps
          battery_capacity_wh: "{{ 60000 | int }}"
          battery_percentage: "{{states('sensor.teletubbie_battery') | int}}"
          soc_time: "{{ states('input_datetime.ev_load_balancer_charge_time_target') }}"
          soc_threshold: "{{ states('input_number.ev_load_balancer_soc_threshold') | int(0)}}"

      # Load balancer settings
      - unique_id: ev_load_balancer
        name: "EV Load Balancer"
        state: "{{ states('input_select.ev_load_balancer_charge_mode') }}"
        # Power settings
        attributes:
          power_limit: "{{ states('input_number.ev_load_balancer_power_limit') | int }}"
          power_limit_extended: "{{ states('input_number.ev_load_balancer_extended_power_limit') | int }}"
          car_aware: "{{ states('input_boolean.ev_load_balancer_car_aware') | bool }}"
          pv_prioritized: "{{ states('input_boolean.ev_load_balancer_pv_prioritized') | bool }}"
          single_phase_only: "{{ states('input_boolean.ev_load_balancer_single_phase_only') | bool }}"